<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body>
    <div class="fresher_experienced">
        <span>Applicant Type*</span> <br>
        <div>
            <p><input type="radio" name="ra" id="" (click)="change1()"> Fresher</p>
            <p><input type="radio" name="ra" id="" (click)="change2()" checked> Experienced</p>
        </div>
    </div>
</body>
</html>
